#set($layout = "layouts/main.vm")
#set($pageTitle = "上传图片")

<div class="ibox">
    <!-- Jumbotron -->

    <div class="ibox-title">
        <form action="" class="m-b-md" method="GET">
            <div class="input-group input-group-lg">
                <input type="text" class="form-control" placeholder="选择本地图片 or 输入绝对地址" id="imgUrl">
                <span class="hide">
                    <span class="fileinput-new">Select file</span>
                    <span class="fileinput-exists">Change</span>
                    <input type="file" name="..." id="inputBtn"/>
                </span>
                <div class="input-group-btn">
                    <button class="btn btn-default" type="button" id="chooseBtn">choose</button>
                </div>
                <div class="input-group-btn">
                    <button class="btn btn-info" type="button" id="uploadBtn">upload!
                    </button>
                </div>
            </div>
        </form>
    </div>

    <!-- Content -->
    <div class="ibox-content">
        <div class="row">
            <div class="col-md-12">
                <label id="upImgInfo" class="col-md-12"></>
            </div>
            <div class="col-md-12">
                <hr align="center" color="#000000" size="1">
                <div class="col-md-6">
                    <sapn><h3>local preview(本地预览)</h3></sapn>
                    <hr/>
                    <image src="" width="100%" id="preImg"></image>
                </div>
                <div class="col-md-6">
                    <sapn><h3>upload receive(线上预览)</h3></sapn>
                    <hr/>
                    <image src="" width="100%" id="upImg"></image>
                </div>
            </div>
            <hr>
        </div>


    </div>
</div>

<script src="/static/js/biz/upload.js"></script>