#extends("/layouts/main.vm")


#block("style")

#end

#block("content")
<div class="app-content-body">
    <div class="wrapper-md">
        <div class="panel panel-default">
            <div class="panel-heading">应用</div>
            <table class="table table-bordered table-striped">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>应用名称</th>
                    <th>负责人</th>
                    <th>创建时间</th>
                    <th>更多</th>
                </tr>
                </thead>
                <tbody>
                    #foreach ($appInfo in $appInfos)
                    <tr>
                        <td>$appInfo.id</td>
                        <td>$appInfo.name</td>
                        <td>$appInfo.owner</td>
                        <td>$appInfo.created</td>
                        <td>
                            <a class="btn btn-xs btn-info" href="#">appkey</a>
                        </td>
                    </tr>
                    #end
                </tbody>
            </table>
        </div>
    </div>
</div>
#end

#block("script")

#end

#end