<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hust.hui.wolf.core.repository.dal.UserDao">

    <insert id="addUser" parameterType="User" useGeneratedKeys="true" keyProperty="userId">
      insert INTO
      USER
      (`username`,
      `nickname`,
      `password`,
      `address`,
      `email`,
      `phone`,
      `img`,
      `extra`,
      `isDeleted`,
      `created`,
      `updated`)
      VALUES
      (
        ${username},
        ${nickname},
        ${password},
        ${address},
        ${email},
        ${phone},
        ${img},
        ${extra},
        0,
        unix_timestamp(now()),
        unix_timestamp(now())
      )
    </insert>


    <select id="getUserByUname" resultType="User">
        select * from user where username=#{username} limit 1
    </select>


    <select id="getUserByUid" resultType="User">
        select * from user where userId=#{userId} limit 1;
    </select>

    <select id="login" resultType="User" parameterType="java.util.Map">
        select * from USER
        WHERE
        <choose>
            <when test="username != null">
                username = #{username}
            </when>
            <when test="email != null">
                email = #{email}
            </when>
            <when test="phone != null">
                phone = #{phone}
            </when>
        </choose>
        and password = #{password}
        limit 1
    </select>

</mapper>