<div class="app-aside hidden-xs bg-black">
  <div class="aside-wrap">
    <div class="navi-wrap">
      <nav ui-nav class="navi clearfix">
        <ul class="nav">
          <li>
            <a href="/app/list">
              <i class="glyphicon glyphicon-th-large icon text-success"></i>
              <span class="font-bold">应用</span>
            </a>
          </li>
          <li>
            <a href="" class="auto">
              <span class="pull-right text-muted">
                <i class="fa fa-fw fa-angle-right text"></i>
                <i class="fa fa-fw fa-angle-down text-active"></i>
              </span>
              <i class="fa fa-image icon text-info-lter"></i>
              <span class="font-bold">图片</span>
            </a>
            <ul class="nav nav-sub dk">
              <li class="nav-sub-header">
                <a href="#"><span class="font-bold">图片</span></a>
              </li>
              <li>
                <a href="/image/watermark"><span>水印设置</span></a>
              </li>
              <li>
                <a href="/image/put"><span>上传图片</span></a>
              </li>
            </ul>

          </li>
          <li>
            <a href="" class="auto">
              <span class="pull-right text-muted">
                <i class="fa fa-fw fa-angle-right text"></i>
                <i class="fa fa-fw fa-angle-down text-active"></i>
              </span>
              <i class="fa fa-soundcloud icon text-primary"></i>
              <span class="font-bold">音频</span>
            </a>
            <ul class="nav nav-sub dk">
              <li class="nav-sub-header">
                <a href="#"><span class="font-bold">音频</span></a>
              </li>
              <li>
                <a href="#"><span>全局设置</span></a>
              </li>
            </ul>
          </li>
          <li>
            <a href="" class="auto">
              <span class="pull-right text-muted">
                <i class="fa fa-fw fa-angle-right text"></i>
                <i class="fa fa-fw fa-angle-down text-active"></i>
              </span>
              <i class="fa fa-film icon text-warning"></i>
              <span class="font-bold">视频</span>
            </a>
            <ul class="nav nav-sub dk">
              <li class="nav-sub-header">
                <a href="#"><span class="font-bold">视频</span></a>
              </li>
              <li>
                <a href="#"><span>全局设置</span></a>
              </li>
              <li>
                <a href="#"><span>水印管理</span></a>
              </li>
              <li>
                <a href="#"><span>WEB播放器</span></a>
              </li>
            </ul>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>